// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.

table {
  // Add vertical rhythm margins.
  @include margin(1 0);
  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;
  // Prevent cramped-looking tables
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  // Remove most spacing between table cells.
  padding: 0 1em;
}

thead {
  border-top: 2px solid $text;
  border-bottom: 1.5px solid $text;
}
table {
  border-bottom: 2px solid $text;
}
